body {
    background-color: purple;
    color: white;
    margin-left: 20px;

    ul {

        li {
            margin: 10px 0;

            a {
                color: white;
            }
        }
    }
}
