body {
    background-color: purple;
    color: white;
    margin-left: 20px;

    header, footer {
        text-align: center;
    }

    a {
        color: white;
    }

    ul {

        li {
            margin: 10px 0;
        }
    }
}
